.cs-h{
    min-height: 100vh;
}

.cs-w {
    width: 35% !important;
}

.cs-shadow{
    box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.cs-btn {
    border: solid 2px #212529 !important;
    background-color: #f8f9fa !important;
    color: #212529 !important;
    transition: .3s;
}

.cs-btn:hover {
    border: solid 2px #212529 !important;
    background-color: #212529 !important;
    color: #f8f9fa !important;
}